<b>Zip Code</b> {{zip_data._id}}

<p>
    City: {{zip_data.city}}, State: {{zip_data.state}}, Population: {{zip_data.pop}} 
    <br>
    <br>
    <a href="/city/{{zip_data.city}}/state/{{zip_data.state}}">Click here for all Zip Codes for {{zip_data.city}}, {{zip_data.state}}</a>
</p>




